h1 {
    color:blue
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: yellowgreen;
    padding: 50px;
    border: 5px solid red;
}
#spanId {
    font-size: 20px;
    margin: 50px;
}